.header {
    position: relative;
    height: 0px;
}

/* bredcrumb*/
.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

/* for all */
img {
    max-width: 100%;
}


/* home */
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

#cardsRow {
    width: 100vw;
}

#card {
    background-color: rgb(230, 230, 243)!important;
}



/* Articles */
.small-image {
    cursor: pointer;
}

/* Chat */
#wrapper {
    width: 100vw;
    height: 30vh;
    border: 1px solid rgb(173, 173, 243);
    background-color: rgb(230, 230, 243);
    overflow-y:scroll;
    font-size: 14px;
}

#chatUserInputField {
    width: 100vw;
    height: 30vh;
    border: 1px solid rgb(173, 173, 243);
    background-color: rgb(230, 230, 243);
    font-size: 12px;
}

#userNameInput {
    width: 30vw;
    height: 10vh;
    border: 1px solid rgb(173, 173, 243);
    overflow-y:scroll;
}

#messageInput {
    width: 30vw;
    height: 10vh;
    border: 1px solid rgb(173, 173, 243);
    overflow-y:scroll;
}

/* Registration */
#validationBox {
    width: 80vw;
    height: 20vh;
}

/* About Us MAp */
.map-responsive{
    overflow:hidden;
    padding-bottom:100%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#aboutUs {
    font-size: 14px
}

/* footer*/
.footer {
    position: relative; 
}
