.tabs-wrapper {
    border: 1px solid rgba(54, 24, 24, 0.8);
}

.a {
    border: 50px solid rgb(207, 203, 197)
}

.tabs-head {
    background-color: rgb(207, 203, 197);
    border-bottom: 1px solid rgba(156, 77, 77, 0.8);
}

.chunk a {
    padding-left: 20px;
    background-color: rgb(170, 168, 165);
    color: rgb(59, 37, 158);
    text-decoration: none;
}

.chunk a.active {
    background-color: pink;
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}