a {
    color: rgb(9, 100, 9);
}

h1 a {
    color: pink;
}

p {
    color: rgba(255, 0, 0, 1);
    font-size: large;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-style: italic;
    text-decoration: line-through underline green;
    letter-spacing: -2px;
    line-height: 50px;
    

}

.foo{
    border: solid 2px red;
    border-top-width: 10px;
    background: blue;
    height: 50px;
    width: 50px;
    float: right;
    margin: 5px 10px 15px 20px;
    padding: 10px 30px;
}